<h1>Draggable</h1>

<h2>Part 1 - draggable directive</h2>

<div class="box" appDraggable>
  Draggable
</div>

<h2>Part 2 - movable directive</h2>

<div class="box" appMovable>
  Movable 1
</div>

<div class="box" appMovable [appMovableReset]="true">
  Movable 2
</div>

<h2>Part 3 - movable area</h2>

<div class="area" appMovableArea>
  <div class="box" appMovable *ngFor="let trapped of trappedBoxes">
    {{ trapped }}
  </div>
</div>

<button (click)="add()">Add</button>

<h2>Part 4 - the draggable helper</h2>

<div class="box" appDraggable>
  Drag me!

  <div class="box helper" *appDraggableHelper>
    Drag me!
  </div>
</div>
